Repository MicrosoftDocs/dynamics-365-customer-engagement, changes with the owners that CODEOWNERS names for each.
All owners: @jimholtz, @Mattp123, @shellyhaverkamp, @shubhadaj, @JimDaly, @KumarVivek, @ReneeW-CPub, @almostdunh

Added note that form is validated toghether with a page
  ce/marketing/create-deploy-marketing-pages.md
Owners: @shellyhaverkamp

revert waitlist functionality
  ce/marketing/event-waitlist.md
Owners: @shellyhaverkamp

Delete .gitattributes
  .gitattributes
Owners: none

Fix readme link
  ce/marketing/help-hub.md
Owners: @shellyhaverkamp

Update portal-faq.md
  ce/portals/portal-faq.md
Owners: @shubhadaj

Update .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/ce/admin/                                    @jimholtz
/ce/analytics/                                @Mattp123
/ce/common-scheduler/	                        @shellyhaverkamp
/ce/company-news-timeline/                    @jimholtz
/ce/customer-insights/	                      @jimholtz
/ce/customer-service/                         @shubhadaj
/ce/customize/	                              @Mattp123
/ce/developer/	                              @JimDaly
/ce/field-service/	                          @shellyhaverkamp
/ce/gamification/	                            @shellyhaverkamp
/ce/guidance/	                                @JimDaly	
/ce/linkedin/	                                @shellyhaverkamp
/ce/live-assist/	                            @shellyhaverkamp
/ce/marketing/	                              @shellyhaverkamp
/ce/mobile-app/	                              @jimholtz
/ce/outlook-app/	                            @jimholtz
/ce/portals/	                                @shubhadaj
/ce/project-service/	                        @shellyhaverkamp
/ce/sales-enterprise/	                        @shubhadaj
/ce/snippets/	                                @JimDaly
/ce/social-engagement/	                      @shellyhaverkamp
/ce/unified-service-desk/	                    @shubhadaj
/ce/voice-of-customer/	                      @shubhadaj
/ce/marketing/developer/                      @KumarVivek
/ce/admin/readme-9.md                         @ReneeW-CPub @almostdunh
